<div class="modal" ng-show="isSiteInfoOpen">
    <div class="modal-content">
      <span class="close" ng-click="closeModal()">&times;</span>
      <div>
        <h2>{{ selectedSite.Name }}</h2>
        <img ng-src="{{ selectedSite.Picture1 }}" alt="{{ selectedSite.Picdescribe1 }}">
        <p><strong>開放時間：</strong> {{ selectedSite.Opentime }}</p>
        <p><strong>地址：</strong> {{ selectedSite.Add }}</p>
        <p><strong>電話：</strong> {{ selectedSite.Tel }}</p>
        <p>{{ selectedSite.Description }}</p> 
      </div>
    </div>
</div>
  